#root{
    .main-wrapper {
      height: 100vh;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }
  
    // Home page styles
    .home-wrapper {
      width: 600px;
  
      p {
        line-height: 32px;
      
    }
  }
}
              


      
