#root{
    .main-wrapper {
      height: 100vh;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }
  
    // Home page styles
    .home-wrapper {
      width: 600px;
  
      p {
        line-height: 32px;
      
    }
  }
  .card-main.w-780{
    width:780px;
  }
  .choose-option{
    background-color: rgba(235, 87, 87, 0.25);
    border-radius: var(--rounded-8);
    height: var(--height-48);
    color :#eb5757;
  }
}
              


      
